@{
    Layout = null;
}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Detail</h6>
    </div>
        <div class="card-body">
            <div class="table-responsive">
             <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                 <thead>
                     <tr>
                         <th>Contry</th>
                         <th>Address</th>
                         <th>Phone</th>
                         <th>Id</th>                       
                     </tr>
                 </thead>
                 <tbody>
                     <tr>
                         <td>Taiwan</td>
                         <td>台北市信義區忠孝東路</td>
                         <td>0929736221</td>
                         <td>X12345678</td>                         
                     </tr>
                 </tbody>
             </table>
        </div>
    </div>
</div>