<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <button id="sidebarToggleTop" style="border: none; background-color: transparent;">
        <i class="navbar-toggler-icon"></i>
    </button>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item no-arrow">
            <a class="nav-link " href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-right: 14rem">
                <span style="color: black;font-weight: 700;font-size: 18px;">所屬:</span>
            </a>
        </li>

        <li class="nav-item no-arrow">
            <a class="nav-link " href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-right: 8rem">
                <span style="color: black;font-weight: 700;font-size: 18px;">姓名:</span>
            </a>
        </li>

        <li class="nav-item no-arrow">
            <a class="nav-link " href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="padding-right: 8rem">
                <span style="color: black;font-weight: 700;font-size: 18px;">員編:</span>
            </a>
        </li>

        <li class="nav-item no-arrow" style="padding-top: 1rem">
            <a href="#" class="btn btn-info">
                <span class="text" onclick="">登出</span>
            </a>
        </li>
    </ul>
</nav>
