<div id="varPop" class="modal">
    <div class="modal-dialog" style="max-width: none;">
        <div class="modal-content" style="background-color:transparent;width: 86%;left: 7rem;bottom: 2rem;">
            <span class="close" style="color:#FFFFFF;text-align:right;font-size: 2.21875rem" onclick="PopDisActive()">&times;</span>
            <div id="pop-content">Some text in the Modal..</div>
        </div>
    </div>
</div>